.onemovie {
  background-color: greenyellow;
  width: 450px;
  height: 550px;
  border: solid;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
}

.serchbox {
  width: 20%;
  margin: 15px;
}

.onemovie p {
  font-size: small;
  padding: 10px;
}

.onemovie img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}